.about-page {
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-template-columns: 1fr 1.5fr;
    padding: 10px;
}
.myphoto {
    /* justify-content: right; */
    text-align: right
}

.bio-container {
    grid-column: 3/4;
    width: 80%;
    margin: 10px;
}

#profile-pic {
    width: 400px;
    grid-column: 1/2
}

#bio {
    font-size: 14px;
    letter-spacing: 1px;
}