.about-page {
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-template-columns: 1fr 1.5fr;
    padding: 10px;
    grid-gap: 5px;
}
.skill-list{
    display: grid;
    padding: 20px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.myphoto {
    text-align: right
}

.bio-container {
    grid-column: 3/4;
    width: 80%;
    margin: 10px;
}

#profile-pic {
    width: 400px;
    grid-column: 1/2
}

#bio {
    font-size: 14px;
    padding: 10px;
    letter-spacing: 1px;
}

#skills-heading {
    text-align: center;
    font-size: 16px
}
#icon {
    width: 50px;
}

#js-icon, #html-icon, #css-icon, #nodejs-icon, 
#postgres-icon, #react-icon, #github-icon, #git-icon {
    margin: 0 auto;
}