.contact-form {
    text-align:center;
    background-color:#F3F3F4;
    margin: 0 auto;
    padding: 5px;
    width: 50%;
    border: 1px rgb(135, 209, 203) solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.contact-form:hover {
    transform: scale(1.02)
}

form {
    display: grid;
    padding: 10px;
    margin: 0 auto;
    grid-template-rows: 1fr 1fr 1fr;
}

#form-email {
    width: 90%;
    background-color: white;
    margin: 0 auto;
    grid-row: 1/2;
    border: 1px lightsteelblue solid;
    border-radius: 30px;
    padding: 10px;
}

#form-message {
    width: 90%;
    background-color: white;
    margin: 0 auto;
    border: 1px lightsteelblue solid;
    border-radius: 30px;
    padding: 10px;
    grid-row: 2/3;
}

#submit {
    margin: 0 auto;
    width: 8em;
    height: 3em;
}