.social-buttons {
    margin: 0 auto; 
    margin-top: 5px;
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
#contact {
    width: 25px;
}

#first-sc, #second-sc, #third-sc, #fourth-sc {
    margin: 0 auto
}