.container {
    margin: 0 auto;
    width: 80%;
}

#proj-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.project-map{
    display: grid;
    grid-gap: 25px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
}

#card {
    background-color: #F3F3F4;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5%;
    transition: 0.3s;
    width: 80%;
}
#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.08)
}

#link-buttons {
    text-align: center;
}

#mission0, #mission1, #mission2, #mission3 {
    text-align: center;
    letter-spacing: .5px;
    font-size: 14px;
}