.App {
  margin: 10px;
}


.tagline {
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.5px;
}


button {
  background-color: #9FD2D6;
  border-radius: 20px;
}

.border-div {
  border: 1px #f3f3f4;
  border-style: solid;
}