.App {
  margin: 10px;
}


.tagline {
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.5px;
}


button {
  border-radius: 20px;
}

button:hover {
  background-color: #1da1f2;
  color: white;
}
.border-div {
  border: 1px #f3f3f4;
  border-style: solid;
}

p {
  font-size: 14px;
}

.heading1 {
  width: 40%;
  margin: 0 auto;
}

.heading2 {
  width: 40%;
  margin: 0 auto;
}

.heading2:hover {
  color:#551a8b;
  text-decoration: underline;
}